%h1
  Please call the Repairs Contact Centre

%p.notice
  %i.icon.icon-important
  %strong
    The problem you're having might need urgent attention.

%p
  So that we can review your problem as soon as possible, please call us on
  %span{ itemprop: 'telephone' }
    %a{ href: 'tel:02083563691' } 020 8356 3691
  so we can schedule an engineer to visit at your earliest convenience.

%p
  = link_to t('back_links.prefix', page_description: t('back_links.previous')), :back
